@import url(http://fonts.googleapis.com/css?family=Average+Sans);
body {
	width: 800px;
	font-family: 'Average Sans', sans-serif;
	font-size: 16px;
}

.card {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 5px solid rgba(0, 0, 0, 0.3);
	box-shadow: rgba(0, 0, 0, 0.4) 3px 3px 10px;
	padding: 20px;
	background-color: green;
	color: white;
	width: 600px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

.error {
	color: red;
}

body a {
	color: orange;
}

#profile-control {
	width: 180px;
	float: left;
}

#profile-data {
	width: 420px;
	float: right;}


/* Barra de herramientas */
#toolbar {
	background: green;
	height: 40px;
	color: white;
}

#tb-user {
	float: right;
	padding: 5px;
	width: 300px;
	text-align: right;
	position: relative;
	cursor: pointer;
}

#tb-menu {
	text-align: right;
	position: absolute;
	right: 0;
	background-color: white;
	top: 10px;
	border: 1px solid green;
	opacity: 0;
	height: 0;
	overflow: hidden;
	transition: opacity 1s;
	-moz-transition: opacity 1s;
	-webkit-transition: opacity 1s;
	-o-transition: opacity 1s;
}

#tb-user:hover #tb-menu {
	opacity: 1;
	height: auto;
}

/* El calendario */

.calendar table{
	width: 100%;
}

.calendar th {

}

.calendar td {
	width: 5%;
	height: 120px;
	border: 1px solid orange;
	text-align: right;
	font-size: 1em;
	color: gray;
	position: relative;
	vertical-align: top;
	padding: 3px;
}

.calendar .toos {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

.toos {
	margin-top: 1.1em;
}

.toos .too {
	margin: 2px;
	height: 1em;
	opacity:0.2;
	cursor: pointer;
}

.toos .error {
	border: 3px dotted red;
	opacity: .5;
}

.calendar .noday {
	background-color: gray;
	opacity: .5;
}

.calendar .too-1 {
	background-color: orange;
}
.calendar .too-2 {
	background-color: magenta;
}
.calendar .too-3 {
	background-color: blue;	
}

.calendar .selected {
	opacity: 1;
}

/* Pruebas: */
#test-config {
	width: 300px;
	float: left;
}
#test-chart {
	width: 500px;
	height: 350px;
	float: right;
}
#test-calendars {
	clear: both;
	margin-top: 20px;
}

#test-calendars #calendars .calendar {
	display: none;
}
#test-calendars #calendars td {
	height: 80px;
}
#test-calendars #control {
	display: none;
}
#test-calendars #control .button {
	display: inline;
	background-color: orange;
	color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-right: 5px;
	padding: 5px;
	cursor: pointer;
}

