<!DOCTYPE html>
<html>
<head>
	<title>Consola de administración</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>


<body>
<div id="toolbar">
<div id="tb-user">{{user}}
	<ul id="tb-menu">
		<li><a href="/logout">Cerrar sesión</a></li>
		<li><a href="/profile">Mis datos</a></li>
		<li><a href="/calendar/">Mi calendario</a></li>
	</ul>
</div>
</div>


<div id="admin">
<h2>Selecciona una acción:</h2>
<ul id="admin-list">
<li><a href="#">Crear un nuevo calendario</a></li>
</ul>
</div>


</body>
</html>