<!DOCTYPE html>
<html>
<head>
	<title>Mi calendario</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css" />
	<script type="text/javascript" src="/js/calendar.js"></script>
</head>


<body>


<div id="toolbar">
<div id="tb-user">{{user}}
	<ul id="tb-menu">
		<li><a href="/logout">Cerrar sesión</a></li>
		<li><a href="/profile">Mis datos</a></li>
		<li><a href="/calendar/">Mi calendario</a></li>
	</ul>
</div>

</div>

<div id="calendar" class="calendar">
{{calendar}}	
</div>
</body>
</html>