<!DOCTYPE html>
<html>
<head>
	<title>Mis datos de usuario</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>


<body>


<div id="toolbar">
<div id="tb-user">{{user}}
	<ul id="tb-menu">
		<li><a href="/logout">Cerrar sesión</a></li>
		<li><a href="/profile">Mis datos</a></li>
		<li><a href="/calendar/">Mi calendario</a></li>
	</ul>
</div>
</div>


<form method="post">
		<table>
			<tr>
				<td><label for="username">Usuario</label></td>
				<td><input id="username"name="username" value={{username}}></td>
				<td><span class="error">{{user_error}}</span></td>
			</tr><tr>
				<td><label for ="password">Contraseña</label></td>
				<td><input id="password" type="password" name="password"></td>
				<td><span class="error">{{pass_error}}</span></td>
			</tr><tr>
				<td><label for="verify">Verifica contraseña</label></td>
				<td><input id="verify" type="password" name="verify"></td>
				<td><span class="error">{{match_error}}</span></td>
			</tr><tr>
				<td><label for="email">E-mail</label></td>
				<td><input id="email" type="email" name="email" value={{email}}></td>
				<td><span class="error">{{email_error}}</td>
			</tr><tr>
				<td><label for="name">Nombre</label></td>
				<td><input id="name" name="name"></td>
				<td><span class="error">{{name_error}}</span></td>
			</tr><tr>
				<td><label for="surname">Apellidos</label></td>
				<td><input id="surname" name="surname"></td>
				<td><span class="error">{{surname_error}}</span></td>
			</tr><tr>
				<td></td><td><div class="error">{{error}}</div></td><td></td>
			</tr><tr>
				<td></td><td><input type="submit" value="Actualizar"></td><td></td>
			</tr>
		</table>
	</form>



</body>
</html>