<!DOCTYPE html>
<html>
<head>
	<title>Pruebas de optimización</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css" />
	<script type="text/javascript" src="/js/utils.js"></script>
	<script type="text/javascript" src="/js/test.js"></script>
</head>


<body>
<div id="test">
<div id="test-config">
	<h2>Configuración:</h2>
	<form method="post">	
		<table>
		<tr><th colspan="2">Datos del problema:</th></tr>
		<tr>
			<td><label for="year">Año: </label></td><td>	
								<select name="year" id="year">
								{% for year in range(2012,2020) %}
								<option value="{{year}}">{{year}}</option>
								{% endfor %}
								</select></td>
		</tr><tr>
			<td><label for="month">Mes: </label></td><td>	
								<select name="month" id="month">
								{% for month in range(1,13) %}
								<option value="{{month}}">{{month}}</option>
								{% endfor %}
								</select></td>
		</tr><tr>
			<td><label for="shifts">Turnos: </label></td><td>	
								<select name="shifts" id="shifts">
								{% for n in range(1,4) %}
								<option value="{{n}}">{{n}}</option>
								{% endfor %}
								</select></td>
		</tr><tr>
			<td>Nº de personas: </td><td><input type="number" name="people" value="10"></td>
		</tr>
		<tr><th colspan="2">Parámetros de optimización:</th></tr>
		<tr>
		<tr>
			<td># Individuos/Partículas</td><td><input type="number" name="npop" value="10" step="2"></td>
		</tr><tr>
			<td># Máximo Iteraciones</td><td><input type="number" name="nmaxiter" value="600"></td>
		</tr><tr>
			<td>Todo listo: </td><td><input type="submit" value="Generar"></td>
		</tr>
		</table>
	</form>

</div>

<div id="test-chart">
	<div id="chart-fitness" class="chart">
		{{chart_fitness}}
	</div>
</div>

<div id="test-calendars">
	<div id="control">
		<div id="prev-cal" class="button">&leq;&leq; ant </div>
		{% for c in calendars %}
			<div class="button"> {{loop.index0}} </div>
		{% endfor %}
		<div id="next-cal" class="button"> sig &geq;&geq;</div>
	</div>
	<div id="calendars">
		{% for c in calendars %}
		<div class="calendar">
			{{c}}
		</div>
		{% endfor %}
	</div>
</div>

</div>
</body>
</html>